test_local/
db_private/
__pycache__
desktop.ini
main_bk.py
.devcontainer
.env
old/
app_test.py
main_test.py
main_bk_2.py
main_bk_2.__pycache__
horse-race-pred-firebase-firebase-adminsdk-ov2p6-e744c2a3c2.json
tests.py
.gitignore
df.json
Tests.ipynb
db_pg.py
create_db_pg.py
data_exp.csv
.Trash-0
.gitignore
.pytest_cache
.ipynb_checkpoints